.header{
  background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
  height: 98vh;
}

.navbar{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0px 0px 20px 0;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

 .list{
  margin-top: -60px;
  text-align: center;
    float: none;
    display: block;
 }
 .list li{
  float: none;
  display: inline-block;
  text-align: center;
 }
 .list li a{
    color: #ffffff;
    padding: 10px 2px;
    text-transform: capitalize;
    background: transparent;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
 }
 .list li a:hover{
  cursor: pointer;
  border-bottom-color: #ffffff;
 }

 .image{
    transform: translateY(42%);
 }

 .containerLogo{
    margin-top: 120px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
 }
 .container{
  margin-top: -40px;
 }

 .fontText {
  color: #000;
  font-weight: 400;
  line-height: 1.4em;
 }

 .btn{
  padding: 18px 30px;
  background-color: #ffffff;
  display: inline-block;
  color: #768ede;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: none;
  visibility: visible;
  animation-delay: 0.8s;
  animation-name: fadeInUp;
  cursor: pointer;
 }

 .btn a:hover{
  text-decoration: none;
    outline: none;
    color: #768ede;

 }
 .btn:hover{
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
    
 }

 @keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main{
  padding-bottom: 100px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title{
  opacity: 1;
  padding: 1.6rem 0;
  text-align: center;
  color: #131313;
  background: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(221,221,221,0.5) 40%,rgba(0,0,0,0));
  margin-top: 15px;
}

.wrapperReview{
  width: 70%;
  line-height: 1.5;
}

.wrapperBorder{
  border: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin-top: 10px;

}

.space{
  padding: 15px 20px
}
.list {
  width: 70%;
  font-size: 21px;
  font-weight: bold;
}
.button{
  background-color: red;
  text-align: center;
  padding: 0.9rem 1.4rem;
  color: #fff; 
  width: 100%;
  font-size: 1.2rem; 
  border-radius: 12px;
}
.textSpread {
  margin-top: 12px;
  font-size: 1.2rem;
}

.customTable {
  width: 100%;
  color: #131313;
  font-size: 1.1rem;
  font-weight: bold;
}
.customTable th, .customTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  line-height: 1.4;
}
.wrapperReview h4{
  font-size: 1.3rem;
}
.customTable tr:nth-child(odd) {
  background-color: #fff9ec; 
}

.tableAccountMini {
  width: 100%;
  margin-top: 15px;
  font-size: 1.1rem;
}
.tableAccountMini th, .tableAccountMini td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  line-height: 1.4;
}

.info{
  background-color: red;
  padding: 10px;
  color: #f4f4f4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: 1.3rem;
  font-weight: bold;
}

.list li:hover{
  color: rgb(81, 161, 247);
}
.titleh3{
  font-size: 1.6rem;
  color: #131313;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}
.btnRegister{
  display: inline-block;
  padding: 10px 20px;
  /* width: 100%; */
  border: 1px solid rgb(81, 161, 247);
  background-color: rgb(81, 161, 247);
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.openAccount {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 5px 0px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  background-color: #0009f8;
}

.button2 {
  margin: 30px auto;
  background-color: rgb(81, 161, 247);
  font-size: 1.2rem;  
  border-radius: 12px;
  display: flex;
  width: 100%;
  padding: 0.625rem 0rem;
  cursor: pointer;
  transition: 0.3s;
  color: #f4f4f4;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: background-color 0.2s ease-in-out; 
}

.icon:hover{
  background-color: #dbdbdb;
  border: 2px solid #dbdbdb !important;
  color: #fff !important
}

.form{
  margin-top: 40px;
  border: 1px solid #dbdbdb;
  color: rgb(29, 33, 41);
  background-color: rgba(0,0,0,.05);
  padding: 20px;
}

.textArea{
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 5px 0.75em;
  font-size: .97em;
  border-radius: 0;
  max-width: 100%;
  margin-top: 14px;
  width: 100%;
  line-height: 1.3;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.input{
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px 0.75em;
  font-size: .97em;
  border-radius: 0;
  max-width: 100%;
  margin-top: 14px;
  width: 90%;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.button3{
  margin-top: 25px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 12px;
  background-color: #51a1f7;
  border: 1px solid #51a1f7
}
.label{
  font-weight: bold;
}
.colorUrl{
  color: rgb(81, 161, 247);
}
.textTongQuan {
  color: black;
  font-size: 1.7rem;
  font-weight: bold
}

.textMucLuc {
  color: black;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 7px,
}
.author{
  margin-top: 35px;
  border: 1px solid #dbdbdb;
  color: rgb(29, 33, 41);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  gap: 20px;
}





.containerWrapper {
  display: flex;
  gap: 25px;
  margin-top: 15px;
  padding-bottom: 50px;
}

.titleForex {
  font-size: 2.4rem;
  font-weight: bold;
  word-break: break-all;
  text-align: center;
}

.titleTrader {
  text-align: center;
  line-height: 1.3;
  color: rgb(98, 98, 98);
}

.font25 {
  font-size: 25px;
}

.icon {
  transform: translateY(10%);
  color: rgb(17 215 52);
  font-size: 25px;
  border: 2px solid rgb(17 215 52);
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.authorWrite {
  font-size: 0.8rem;
  margin-left: 10px;
}

.nameBrand {
  color: #0056c7;
  font-size: 1.8rem;
  font-weight: bold;
}

.point {
  color: #1d85c2;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateY(3px);
  display: inline-block;
}

.imgLogo {
  max-width: 100%;
  height: 160px;
}

.font16 {
  font-size: 16px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop25 {
  margin-top: 25px;
}

.banner350 {
  max-width: 100%;
  height: 350px;
  margin-top: 25px
}

.banner550 {
  max-width: 100%;
  height: 550px;
  margin-top: 25px
}

.banner450 {
  max-width: 100%;
  height: 450px;
  margin-top: 25px
}

.figure {
  font-size: 14px;
  color: #4d4d4d;
  text-align: center;
  margin-top: 5px;
}

.btnRegister2 {
  display: inline-block;
  padding: 10px 20px;
  /* width: 100%; */
  border: 1px solid rgb(81, 161, 247);
  background-color: rgb(81, 161, 247);
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.width30 {
  width: 30%;
}

.containerInfoHeader {
  width: 48%;
  margin-left: 4%;
}

.spaceContainer {
  display: flex;
  justify-content: space-around;
}

.wrapperRegister {
  width: 25%;
  display: flex;
  align-items: center;
}
.text3{
  font-size: 18px;
  line-height: 1.6;
  margin-top: 19px;
}
.imagLogo{
  width: 500px;
  height: 350px
}
.margin{
   width: 50%
}
@media screen and (max-width: 1100px) {
  .wrapperTable{
      width: 100%;
      overflow-x: auto;
  }
  .containerLogo{
    margin-top: 50px;
    width: 700px;
  }
  .text3{
    font-size: 15px;
    line-height: 1.3;
    margin-top: 19px;
  }
  .imagLogo{
    width: 250px;
    height: 150px;
  }
  .btn{
    font-size: 11px;
  }
  .main{
    width: 900px;
  }
}

@media screen and (max-width: 800px) {
  .list li a{
    margin: 0px 3px;
  }
  .list{
    width: 100%;
  }
  .list a{
    font-size: 12px;
  }
  .container{
    margin-top: 10px;
  }
  .image{
    display: none;
  }
  .containerWrapper {
      display: block;
  }
  .containerLogo{
    width: 500px;
  }
  .fontText{
    font-size: 15px;
    width: 81%;
    margin-left: 2%;
  }
  .margin{
    width: 80%;
    margin-left: 2%;
  }
  .none{
    display: none;
  }
  .imagLogo{
    display: none;
  }
  .containerInfoHeader {
      margin-left: 3%;
      width: 41%;
  }

  .wrapperRegister {
      width: auto;
  }

  .wrapperReview {
      width: 100%;
  }

  .titleForex {
      font-size: 1.1rem;
  }

  .title {
      margin-top: 60px;
  }

  .titleTrader {
      font-size: 0.9rem;
      padding: 0px 8px;
  }

  .font25 {
      font-size: 18px;
  }

  .icon {
      font-size: 15px;
  }

  .authorWrite {
      margin-top: 3px;
      margin-left: 5px;
  }

  .authorWrite p {
      font-size: 0.7rem;
  }

  .nameBrand {
      font-size: 1.1rem;
  }

  .textSpread {
      font-size: 0.85rem;
      margin-top: 3px;
  }

  .point {
      font-size: 1.3rem;
  }

  .button {
      font-size: 0.75rem;
      padding: 0.40rem 0.50rem;
  }

  .button2 {
      font-size: 0.75rem;
      text-align: center;
      padding: 0.40rem 0.10rem;
  }

  .space {
      padding: 10px 5px;
  }

  .imgLogo {
      height: 93px;
  }

  .font16 {
      font-size: 14px;
  }

  .info {
      font-size: 1.2rem;
  }

  .customTable {
      font-size: 0.9rem;
  }

  .textTongQuan {
      font-size: 1.1rem;
  }

  .textMucLuc {
      font-size: 1.1rem;
  }

  .list {
      font-size: 17px;
  }

  .titleh3 {
      font-size: 1.4rem;
  }

  .tableAccountMini {
      font-size: 0.9rem;
  }

  .btnRegister {
      font-size: 1rem;
      padding: 7px 14px;
  }

  .marginTop30 {
      margin-top: 20px;
  }

  .marginTop20 {
      margin-top: 10px;
  }

  .banner350 {
      height: 190px;
  }

  .marginTop25 {
      margin-top: 15px;
  }

  .banner550 {
      height: 200px;
  }

  .figure {
      font-size: 12px;
  }

  .btnRegister2 {
      font-size: 1rem;
      padding: 7px 14px;
  }

  .banner450 {
      height: 180px;
  }

  .author {
      display: block;
  }

  .flex {
      display: flex;
      justify-content: center;
  }

  .width30 {
      width: 100%;
      margin-top: 30px;
  }
  .wrapperTable{
      width: 100%;
      overflow-x: auto;
  }
  .main {
    padding-bottom: 30px;
    padding: 0px 20px;
    width: 400px !important;
  }
}